@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  background-color: rgb(224, 224, 236);
  display: flex;
  flex-direction: column;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}
#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal {
  position: fixed;
  z-index: 100;
  width: 80%;
  top: 30vh;
  left: 10%;
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  color: rgb(117, 117, 181);
}
input {
  height: 30px;
  border-radius: 5px;
  border: 0.1px solid rgb(117, 117, 181);
  color: rgb(86, 86, 159);
  font-family: "Open Sans";
}
.modal__actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0px 30px 30px;
}
.btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 16px;
  cursor: pointer;
}
.cancel {
  background-color: white;
  color: rgb(86, 86, 159);
}
.cancel:hover {
  background-color: rgb(224, 224, 236);
}
.add {
  background-color: rgb(86, 86, 159);
  color: white;
}
.add:hover {
  background-color: rgb(152, 152, 222);
}

header {
  background-color: rgb(171, 171, 236);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
a:hover {
  color: rgb(117, 117, 181);
}
section {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-self: center;
  /* justify-content: center; */
  margin-top: 10px;
}
section button {
  padding: 8px 20px;
  color: rgb(117, 117, 181);
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans";
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(169, 164, 164);
  cursor: pointer;
}
section button:hover {
  color: rgb(160, 160, 206);
}
main {
  display: flex;
  justify-content: center;
}
#contact-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.contact-element {
  background-color: white;
  color: rgb(86, 86, 159);
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  box-shadow: 5px 5px 10px rgb(169, 164, 164);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-element__image {
  width: 150px;
  border-radius: 10px;
}
.contact-element__info {
  text-align: end;
  padding-top: 50px;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
}
.edit-button {
  background-color: white;
  color: rgb(86, 86, 159);
  align-self: end;
}
.edit-button:hover {
  background-color: rgb(224, 224, 236);
}
.delete-button {
  background-color: rgb(86, 86, 159);
  color: white;
  justify-self: end;
  align-self: end;
}
.delete-button:hover {
  background-color: rgb(152, 152, 222);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 40%;
    left: 30%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 40px;
  }
  h1 {
    font-size: 32px;
  }
  a {
    font-size: 18px;
  }
  #contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  header {
    padding: 60px;
  }
  .log-sign {
    gap: 36px;
  }
  h1 {
    font-size: 40px;
  }
  a {
    font-size: 24px;
  }
  #contact-list {
    grid-template-columns: repeat(3, 1fr);
  }
  section {
    margin-top: 18px;
  }
  section button {
    padding: 10px 24px;
    font-size: 32px;
    border-radius: 8px;
  }
}
@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
